.gnralCont{
    display: flex;
    margin-top: 30%;
    margin-bottom: 20%;
    justify-content: center;

    &__sectionC{
        display: flex;

    }

    &__404Text{
        font-family: 'Martel';
        color: #5E0019;
        font-weight: 800;
        font-size: 90px;
        margin-left: 40%;
    }

    &__message{
        font-family: 'Montserrat';
        color: #5E0019;
        font-size: 30px;
    }
}