.Adminproducts{

    &__addElementContainer{
        background-color: #00000030;
        width: 97%;
        display: flex;
        justify-content: center;
        height: 50px;
        margin-bottom: 1%;
    }

    &__addElement{
        background-color: #5E0019;
        border-color: #ECC9C7;
        color: #FAF5F5;
        width: 200px;
        font-family: 'Montserrat';
        font-size: 16px;
        border-radius: 10px;
        justify-self: center;
        height: 40px;
        align-self: center;
    }
}