.list{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}


.basicProd{
    display: flex;
    flex-direction: column;
    width: 25%;
    font-family: 'Montserrat';
    font-size: 14px;
    margin-bottom: 5%;

    &__info{
        margin-top: 4%;
    }

    &__title{
        font-family: 'Martel';
        font-size: 20px;
        font-weight: 900;
        line-height: 1.2em;
        width: 196.36px;
        height: 48px;
    }

    &__autor{
        margin-top: 5px;
        color: #292929;
    }

    &__precio{
        color: #292929;
    }

    &__category{
        color: #292929;
    }

    &__idioma{
        color: #292929;
    }

    &__buttons{
        display: flex;
        margin-top: 5px;
        flex-direction: row;
        
    }

    &__add{
        font-family: 'Montserrat';
        background-color: #5E0019;
        border-color: #5E0019;
        color: #FAF5F5;
        height: 30px;
        border-radius: 5px;
        margin-right: 2px;
        visibility: visible;
    }

    &__ver{
        font-family: 'Montserrat';
        background-color: #5E0019;
        border-color: #5E0019;
        color: #FAF5F5;
        height: 30px;
        border-radius: 5px;
    }

    &__borrar{
        font-family: 'Montserrat';
        background-color: #5E0019;
        border-color: #5E0019;
        color: #FAF5F5;
        height: 30px;
        border-radius: 5px;
        width: 88%;
        margin-top: 1%;
        padding-left: 30%;
        padding-top: 2%;
        //display:none;
    }

    @media (max-width: 700px) { 
        width: 47%;
        font-size: 12px;
        margin-left: 2%;

        &__img{
            width: 200px;
        }

        &__title{
            font-size: 15px ;
        }

        &__add{
            font-size: 10px;
        }

        &__ver{
            font-size: 10px;
            margin-left: 10%;
        }
        &__buttons{
            display: initial;
        }


    }

        

}

.showAdmin{
    display:none;
}