.btninteract{
    color:#FAF5F5; 
    background-color: #5E0019;  
    display: flex;
    margin-left: 83%;
    margin-top: 2%;
    margin-bottom: 1%;
    border-radius: 15%;
    border-color: #5E0019;

    @media (max-width: 700px) { 
        margin-left: 40%;
    }
}