.gnral{
    display: flex;
    @media (max-width: 700px) { 
        flex-direction: column;



    }
   
}


.cartContainer{
    margin-top: 220px;
    width: 80%;
    
    &__title{
        width: 93%;
        background-color: #5E0019;
        font-family: "Martel";
        font-size: 22px;
        font-weight: 600;
        padding-left: 7%;
        color: #FAF5F5;
        padding-bottom: 0.8%;
        padding-top: 0.8%;
        margin-bottom: 2%;
    }

    &__list{
        display: flex;
        flex-direction: column;
    }

    &__item1{
        margin-left: 8%;
        display: flex;
        flex-direction: row;
        margin-top: 3%;
    }

    &__description{
        margin-left: 5%;
    }

    &__desTitle1{
        font-family: 'Martel';
        font-size: 20px;
        font-weight: 800;
        width: 280px;
        margin: 0;
    }

    &__desTitle{
        font-family: 'Martel';
        font-size: 20px;
        font-weight: 800;
        width: 150px;
    }

    &__precio{
        font-family: 'Montserrat';
        font-size: 16px;
    }


    &__text{
        font-family: 'Montserrat';
        font-size: 14px;
    }

    &__Btns{
        display: flex;
        margin-top: 10%;
        font-family: 'Montserrat';
        font-weight: 800;
        font-size: 25px;
        height: 55px;
        margin-bottom: 7%;
    }

    &__restar{
        background-color: #ECC9C7;
        border-color: #ECC9C7;
        color:#3d3c3c;
        font-family: 'Martel';
        font-size: 35px;
        font-weight: 800;
        width: 50px;
    }

    &__sumar{
        background-color: #ECC9C7;
        border-color: #ECC9C7;
        color:#3d3c3c;
        font-family: 'Martel';
        font-size: 35px;
        font-weight: 800;
        width: 50px;
    }

    &__cantidad{
        font-family: 'Montserrat';
        font-size: 30px;
        margin-left: 5%;
        margin-right: 5%;
        align-self: center;
        color:#3d3c3c;
    }

    &__deleteItemBtn{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-color: #FAF5F5;
        background-color: #FAF5F5;
        font-family: 'Montserrat';
        font-size: 16px;
        margin-bottom: 4%;
    }

    &__imgb{
        margin-right: 8px;
    }

    &__valorU{
        width: 40%;
    }

    &__precioResponsive{
        display: none;
    }

    @media (max-width: 700px) { 
        width: 100%;
        &__item1{
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            margin-left: 0;
            align-items: center;
            margin-top: 0;
        }

        &__valorU{
           display: none;
        }

        &__valorT{
            width: 35%;
            display: none;
        }

        &__description{
            //text-align: center;
            margin: 0;
            width: 50%;
        }

        &__precioResponsive{
            display: block;
        }

        &__imgProd{
            height: 200px;
            margin-right: 15px;
        }

        &__desTitle1{
            width: 240px;
        }

    }
   
}

.info{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 5%;

    &__separador{
        background-color: #A1002A60;
        height: 4px;
        width: 90%;
        margin-bottom: 5%;
       align-self: center;
        
    }

    &__textDespachos{
        font-family: 'Montserrat';
        font-size: 24px;
        font-weight: 400;
        width: 500px;
        text-align: center;
        align-self: center;
        
    }

    @media (max-width: 700px) { 

        &__textDespachos{
            width: 100%;
            font-size: 20px;
        }
    }
}

.notica{
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 600;
    color: #5E0019;
    text-align: center;
    margin-top: 5%;
}