.description {
    background-image: url(../img/fondoChar2_1.png);
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: 'Montserrat';
    margin-top: 5%;

    &__cards {
        margin-top: 6%;
        margin-left: 3%;
        margin-right: 5%;
        width: 50%;
        display: flex;
    }

    &__cardText {
        list-style-type: none;
        text-align: center;
        margin-top: 20%;
        color:#FAF5F5; 
    }

    &__cardText2 {
        font-size: 18px;
    }

    &__cardText3 {
        font-size: 12px;
    }

    &__pdf {
        margin-right: 3%;
        width: 50%;
        display: flex;
        
        
    }

    &__pdfText {
        list-style-type: none;
        text-align: center;
        margin-top: 28%;
        color:#FAF5F5; 
        margin-right: 4%;
        
    }

    &__pdfText2 {
        font-size: 18px;
        
        
    }

    &__pdfText3 {
        font-size: 12px;
        
    }

    &__carrousel {
        display: flex;
        width: 32%;
        //margin-left: 7%;
        overflow: hidden;
        border-radius: 10%;
        
    }

    &__slyder {
        display: flex;
        margin-left: 5%;
        margin-right: 10%;
        align-items:center;
        transition: transform 700ms ease-in-out;
       

    }

    &__slide {
        margin-top: 1%;
       
        position: relative;
    }

    &__mockup {
        position: absolute;
        z-index: 1;
    }

    


}