.filtros{
    display: flex;
    flex-direction: column;
    background-color:#5E0019;
    color:#FAF5F5;
    width: 25%;


        &__barrita{
            padding-left: 8%;
        }

        &__logoFiltro{
            margin-top: 50px;
            padding: 8%;
            margin-bottom: 50px;
        }

        //aqui empiezan las listas de los filtros
        &__genero{
            list-style-type: none;
        }

        &__idioma{
            list-style-type: none;
        }

        &__precio{
            list-style-type: none;
            
        }

        &__principalT{
        font-family: 'Martel';
        font-size: 25px;
        font-weight: 600;
        }

        &__genero1{
        font-family: 'Montserrat';
        font-size: 13.5px;
        font-weight: 200;
        margin-top: 2px;
        }

        &__precio1{
        font-family: 'Montserrat';
        font-size: 13.5px;
        font-weight: 200;
        margin-top: 2px;
        }

        &__idioma1{
            font-family: 'Montserrat';
            font-size: 13.5px;
            font-weight: 200;
            margin-top: 2px;
        }
}