.footer {
    background-color: #5E0019;
    width: 100%;
    padding-top: 2%;
    font-family: 'Montserrat';
    color:#FAF5F5; 
    padding-bottom: 2%;

    &__logo {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    &__phrase {
        margin-top: 1%;
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
    }

    &__links {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 5%;
    }

    &__link1 {
        list-style-type: none;
        margin-left: 1%;
    }
    
    &__link2 {
        list-style-type: none;
    }

    &__link3 {
    list-style-type: none;
    }

    &__link4 {
        list-style-type: none;
        margin-right: 5%;
        }

    &__icons {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
        }

    &__linksMOVIL {
        display: none;
    }

        @media (max-width: 700px) { 

            &__logoIMG {
                width: 50%;
            }

            &__phrase {
                font-size: 14px;
            }

            &__links{
                display: none;

            }

            &__linksMOVIL {
                display: flex;
                margin-top: 5%;
                
            }

            &__linksMOVIL1 {
                list-style-type: none ;
                margin-left: 25%;
                text-align: center;
               
            }

            &__linksMOVIL2 {
               margin-top: 5px;
            }

            &__icons{
                margin-top: 5%;
            }

            &__icon{
                width:90%;
            }







        }
}