.header{
    display: flex;
    position: fixed;
    flex-direction: column;
    margin: 0;
    z-index: 4;
    width: 100%;
    top: 0;


    &__menuResponsive {
        display:none;
        background-color: #A1002A;
        //position: fixed;
        padding-top: 10px;
        padding-left: 1.5%;
        //top:20px;
        left: 0;
        right: 0;
        align-items: center;
        height: 70px;
    }

    &__menuResposive2 {
        list-style-type: none;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        //position: relative;

        }  
    &__help {
        background-color: #E42E5D;
        font-family: 'Martel';
        color: #F1DDD2;
        display: flex;
        //position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding-left: 3%;
        padding-right: 3%;
        justify-content: space-between;
        height: 20px;
        align-items: center;  
        width: 100%;
        } 
        
        &__nota {
            font-weight: 300;
            font-size: 12px;
        }
        &__helpText {
            font-weight: 700;
            font-size: 12px;
        }
        
        
        &__menu {
            background-color: #A1002A;
            display: flex;
            //position: fixed;
            //padding-top: 10px;
            padding-left: 1.5%;
            //top:20px;
            left: 0;
            right: 0;
            align-items: center;
            height: 90px;
        }
        
        
        
        &__buttonsBar {
            display: flex;
            flex-wrap: wrap;
            margin: auto;
            margin-right: 3%;
            margin-bottom: 1em;
        
        }
        
        &__searchBar {
            background-color: #FAF5F5;
            display: flex;
            padding: 8px;
            align-items: center;
            border-radius: 20px;
            margin-left: 15%;
        }
        
        &__searchInput {
            background-color: #FAF5F5;
            border-radius: 5px;
            border: 0;
            outline: none;
            font-size: 20px;
        }
        
        &__suscribe {
            padding: 8px;
            margin-top: 8px;
            border-radius: 30px;
            height: 30px;
            margin: auto;
        }
        
        &__login {
            justify-content: center;
            padding: 8px;
            margin-top: 8px;
            border-radius: 30px;
            height: 30px;
            width: 130px;
            margin: auto;
            
        }
        
        &__bookOptions1 {
            display: flex;
            //position: absolute;
            background-color: #A1002A;
            color:#FAF5F5;
            font-family: 'Martel';
            width: 100%;
            height: 55px;
            flex-wrap: wrap ;
            //justify-content: space-between;
            //margin-top: 100px;
        }
       
        
        &__bookOptions2 {
            list-style-type: none;
            display: flex;
            padding-left: 3.5%;
            align-items: center;
        }
        
        &__bookOptions3 {
            float: left;
            text-align: center;
            margin-bottom: 0px;
            padding: 0px 20px;
            top: 0px;
            margin-right: 45px;
        }
        
        &__shopButton {
            justify-content: center;
            border-radius: 30px;
           // background-color: black;
            height: 50px;
            
            
        }
        
       /* &__shopButton2 {  
            padding-top: 0;
            margin-bottom: 1em;
            background-color: blanchedalmond;
            height: 20px;
            position: absolute;
        }   */
        
        &__toCartBtn{
            padding: 0;
            background-color: #f7e4e400;
            border-radius: 30px;
            height: 43px;
            border-color: #ECC9C7;
            position: absolute;
            top:68%;
            left: 86%;
            z-index: 0;
        }

        &__pinCartText{
            position: absolute;
            top:68%;
            left: 93%;
            font-family: 'Montserrat';
            font-weight: 800;
            font-size: 20px;
            width: 27px;
            background-color: #B9001A;
            border-radius: 30px;
            padding:0 auto;
            text-align: center;
            z-index: 4;

        }

       

        @media (max-width: 700px) {  
            

            &__logo {
                margin-left: 11%;
            }
            &__buttonsBar {
              display: none;
            
            }

            
            
            &__searchBar {
               display: none;
            }

            &__suscribe {
                height: 10px;
            }
            
            &__login {
                height: 10px;
            }

            &__bookOptions1 {
                display: none;
            }

            &__menuResponsive {
               display: flex;
               //margin-top: 80px;
               height: 45px;
               width: 100%;
               justify-content: space-between;
            }

            &__menuResponsive2{
                list-style-type: none;
                width: 100%;
                justify-content: space-between;
                //margin-left: 9%;
                
            }   

            &__menuResponsive3 {
                display: inline;
                margin-left: 6%;
                margin-right: 6%;
               
            }

            &__menuResponsiveH {
                display: inline;
                margin-left: 6%;
                margin-right: 6%;
            }

            &__help{
                justify-content: space-evenly;
            }




        }
    
}



 
