.presLibro {
    color:#FAF5F5; 
    width: 100%;
    margin: auto;
    margin-bottom: 1%;
    margin-top: 1%;


    &__title {
        width: 100%;
        display: flex;
        margin: auto;
        justify-content: center;
        background-color:#5E0019;
        font-family: 'Martel';
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 2%;
        margin-top: 1%;
    }
    
    &__title2 {
    
        list-style-type: none;
        text-align: center;
    }
    
    &__char1 {
        display: flex;
        width: 100%;
        margin-top: 1%;
        flex-wrap: wrap;
        
        
    }
    
    &__fondo {
        background-image: url(../img/fondoCHAR1.png);
        background-image: url(../img/FONDOprueba.png);
        width: 100%;
        background-size: auto ;
        background-position: bottom;
    }
    
    &__elements {
        width: 100%;
        display: flex;
        font-family: 'Montserrat';
        
        
    }
    
    &__book {
        display: flex;
        height: 90%;
        margin-left: 5%;
    
    }
    
    &__sinopsis {
        width: 40%;
        margin-top: 7%;
        margin-left: 15%;
        font-size: 12px ;
        display: flex;
    }
    
    &__ranking {
        display: flex;
        margin-top: 19%;
        font-size: 18px ;
        text-align: center;
        margin-right: 3%;
        margin-left: 3%;
    
    }

    &__sinopsisResponsive {
        display: none;
    }

    @media (max-width: 700px) { 
        
        &__title {
            font-size: 18px;
        }

        
        &__fondo {
            width: 100%;
            background-size: cover ;
            background-position: bottom;
        }
        
        &__elements {
            display: flex;
        }

        &__sinopsis {
            display: none;
        }

        &__sinopsisResponsive {
            display: flex;
            color: #5E0019;
            text-align: center;
            font-family: 'Montserrat';
            font-weight: 500;
            padding: 7%;
        }
        
        &__imgBook {
            width: 200px;
        }
        
        
        &__ranking {
           margin-top: 26%;
           order: 1;
           font-size: 14px;
        }


    }
    
}

