@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
/*Font light-bold*/
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300;400;700;800&display=swap");
/*light-regular-bold-extraBold*/
main {
  display: flex;
  flex-wrap: wrap;
}

body {
  background-color: #ffeaef;
  margin: 0;
}

ul {
  -webkit-margin-before: 0.7em;
          margin-block-start: 0.7em;
  -webkit-margin-after: 0.7em;
          margin-block-end: 0.7em;
}

.header {
  display: flex;
  position: fixed;
  margin: 0;
  z-index: 4;
  width: 100%;
}
.header__menuResponsive {
  display: none;
  background-color: #A1002A;
  position: fixed;
  padding-top: 10px;
  padding-left: 1.5%;
  top: 20px;
  left: 0;
  right: 0;
  align-items: center;
  height: 70px;
}
.header__menuResposive2 {
  list-style-type: none;
}
.header__nav {
  display: flex;
  position: relative;
}
.header__help {
  background-color: #E42E5D;
  font-family: "Martel";
  color: #F1DDD2;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 3%;
  padding-right: 3%;
  justify-content: space-between;
  height: 20px;
  align-items: center;
}
.header__nota {
  font-weight: 300;
  font-size: 12px;
}
.header__helpText {
  font-weight: 700;
  font-size: 12px;
}
.header__menu {
  background-color: #A1002A;
  display: flex;
  position: fixed;
  padding-top: 10px;
  padding-left: 1.5%;
  top: 20px;
  left: 0;
  right: 0;
  align-items: center;
  height: 70px;
}
.header__buttonsBar {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-right: 3%;
  margin-bottom: 1em;
}
.header__searchBar {
  background-color: #FAF5F5;
  display: flex;
  padding: 8px;
  align-items: center;
  border-radius: 20px;
  margin-left: 15%;
}
.header__searchInput {
  background-color: #FAF5F5;
  border-radius: 5px;
  border: 0;
  outline: none;
  font-size: 20px;
}
.header__suscribe {
  padding: 8px;
  margin-top: 8px;
  border-radius: 30px;
  height: 30px;
  margin: auto;
}
.header__login {
  justify-content: center;
  padding: 8px;
  margin-top: 8px;
  border-radius: 30px;
  height: 30px;
  width: 130px;
  margin: auto;
}
.header__bookOptions1 {
  display: flex;
  position: fixed;
  background-color: #A1002A;
  color: #FAF5F5;
  font-family: "Martel";
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}
.header__bookOptions2 {
  list-style-type: none;
  display: flex;
  padding-left: 3.5%;
}
.header__bookOptions3 {
  float: left;
  text-align: center;
  margin-bottom: 0px;
  padding: 0px 20px;
  top: 0px;
  margin-right: 45px;
}
.header__shopButton {
  justify-content: center;
  border-radius: 30px;
  height: 20px;
}
.header__shopButton2 {
  padding-top: 0;
  margin-right: 2.5em;
  margin-bottom: 1em;
}
@media (max-width: 700px) {
  .header__menu {
    justify-content: center;
  }
  .header__buttonsBar {
    display: none;
  }
  .header__searchBar {
    display: none;
  }
  .header__suscribe {
    height: 10px;
  }
  .header__login {
    height: 10px;
  }
  .header__bookOptions1 {
    display: none;
  }
  .header__menuResponsive {
    display: flex;
    margin-top: 80px;
    height: 45px;
    width: 100%;
    justify-content: space-between;
  }
  .header__menuResponsive2 {
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
    margin-left: 9%;
  }
  .header__menuResponsive3 {
    display: inline;
    margin-left: 6%;
    margin-right: 6%;
  }
}

.banner {
  width: 100%;
  margin-top: 180px;
  align-items: center;
  position: relative;
}
.banner__fondoLib {
  width: 80%;
  height: 450px;
  margin-left: 10%;
  margin-right: 10%;
  background-image: url(../img/fondoBANNER.png);
  background-size: cover;
  background-position: bottom;
  justify-content: center;
}
.banner__textt {
  position: absolute;
  background-color: #5E001980;
  color: #FFFF;
  width: 100%;
  margin-top: 10%;
}
.banner__textt2 {
  font-family: "Montserrat";
  font-size: 35px;
  text-align: center;
  font-weight: 500;
  margin-top: 2%;
  opacity: 1;
}
.banner__textt3 {
  font-family: "Martel";
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 2%;
}
@media (max-width: 700px) {
  .banner .banner {
    justify-content: center;
  }
  .banner .banner img {
    width: 100%;
  }
  .banner .banner__fondoLib {
    height: 400px;
  }
  .banner .banner__textt {
    margin-top: 28%;
  }
  .banner .banner__textt2 {
    padding-left: 3%;
    padding-right: 3%;
    font-size: 25px;
  }
  .banner .banner__textt3 {
    font-size: 15px;
  }
}

.separator {
  display: flex;
  margin: auto;
  margin-bottom: 1%;
  margin-top: 1%;
  width: 100%;
  justify-content: center;
}
.publicidad {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.publicidad img {
  width: 165%;
}

.presLibro {
  color: #FAF5F5;
  width: 100%;
  margin: auto;
  margin-bottom: 1%;
  margin-top: 1%;
}
.presLibro__title {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  background-color: #5E0019;
  font-family: "Martel";
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 2%;
  margin-top: 1%;
}
.presLibro__title2 {
  list-style-type: none;
  text-align: center;
}
.presLibro__char1 {
  display: flex;
  width: 100%;
  margin-top: 1%;
  flex-wrap: wrap;
}
.presLibro__fondo {
  background-image: url(../img/fondoCHAR1.png);
  background-image: url(../img/FONDOprueba.png);
  width: 100%;
  background-size: auto;
  background-position: bottom;
}
.presLibro__elements {
  width: 100%;
  display: flex;
  font-family: "Montserrat";
}
.presLibro__book {
  display: flex;
  height: 90%;
  margin-left: 5%;
}
.presLibro__sinopsis {
  width: 40%;
  margin-top: 7%;
  margin-left: 15%;
  font-size: 12px;
  display: flex;
}
.presLibro__ranking {
  display: flex;
  margin-top: 19%;
  font-size: 18px;
  text-align: center;
  margin-right: 3%;
  margin-left: 3%;
}
.presLibro__sinopsisResponsive {
  display: none;
}
@media (max-width: 700px) {
  .presLibro__title {
    font-size: 18px;
  }
  .presLibro__fondo {
    width: 100%;
    background-size: cover;
    background-position: bottom;
  }
  .presLibro__elements {
    display: flex;
  }
  .presLibro__sinopsis {
    display: none;
  }
  .presLibro__sinopsisResponsive {
    display: flex;
    color: #5E0019;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 500;
    padding: 7%;
  }
  .presLibro__imgBook {
    width: 200px;
  }
  .presLibro__ranking {
    margin-top: 26%;
    order: 1;
    font-size: 14px;
  }
}

.description {
  background-image: url(../img/fondoChar2_1.png);
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: "Montserrat";
  margin-top: 5%;
}
.description__cards {
  margin-top: 6%;
  margin-left: 3%;
  margin-right: 5%;
  width: 50%;
  display: flex;
}
.description__cardText {
  list-style-type: none;
  text-align: center;
  margin-top: 20%;
  color: #FAF5F5;
}
.description__cardText2 {
  font-size: 18px;
}
.description__cardText3 {
  font-size: 12px;
}
.description__pdf {
  margin-right: 3%;
  width: 50%;
  display: flex;
}
.description__pdfText {
  list-style-type: none;
  text-align: center;
  margin-top: 28%;
  color: #FAF5F5;
  margin-right: 4%;
}
.description__pdfText2 {
  font-size: 18px;
}
.description__pdfText3 {
  font-size: 12px;
}
.description__carrousel {
  display: flex;
  width: 32%;
  overflow: hidden;
  border-radius: 10%;
}
.description__slyder {
  display: flex;
  margin-left: 5%;
  margin-right: 10%;
  align-items: center;
  transition: transform 700ms ease-in-out;
}
.description__slide {
  margin-top: 1%;
  position: relative;
}
.description__mockup {
  position: absolute;
  z-index: 1;
}
.description__movilInteract {
  display: none;
}
@media (max-width: 700px) {
  .description .description {
    background-size: auto;
  }
  .description__cards {
    flex-wrap: wrap;
  }
  .description__cardText {
    padding: 0;
    margin-left: 5%;
    margin-top: 39%;
  }
  .description__cardText2 {
    background-color: #ffeaef;
    color: #5E0019;
  }
  .description__cardText3 {
    background-color: #ffeaef;
    color: #5E0019;
    margin-top: 0;
  }
  .description__pdf {
    flex-wrap: wrap;
  }
  .description__pdfText2 {
    background-color: #ffeaef;
    color: #5E0019;
  }
  .description__pdfText3 {
    background-color: #ffeaef;
    color: #5E0019;
  }
  .description__carrousel {
    display: none;
  }
  .description__movilInteract {
    display: flex;
  }
  .description__pdfText {
    order: 1;
    margin-top: 10%;
    margin-right: 5%;
    padding: 0;
  }
  .description__cardImg {
    height: 193px;
    width: 215px;
    margin-top: 40%;
  }
  .description__interactImg {
    width: 70%;
    order: 1;
    margin-left: 15%;
    margin-top: 30%;
  }
}

.modal {
  display: flex;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: none;
  z-index: 5;
  transition: opacity 0.5s ease;
  opacity: 0;
}
.modal__backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.modal__content {
  padding-bottom: 20px;
  margin: 3% auto;
  width: 100%;
  max-width: 400px;
  max-height: 470px;
  display: flex;
  overflow: hidden;
  border-radius: 10%;
  border-right: 20%;
}
.modal__slyder {
  margin-left: 3.5%;
  margin-top: 3%;
  margin-right: 10%;
  align-items: center;
  transition: transform 700ms ease-in-out;
}
.modal__slide {
  margin-top: 1%;
  position: relative;
}
.modal__mockup {
  position: absolute;
  z-index: 1;
}
@media (max-width: 700px) {
  .modal {
    right: 10%;
  }
}

.fichaTecnica {
  width: 100%;
  margin: auto;
  margin-top: 2%;
}
.fichaTecnica__title {
  width: 100%;
  background-color: #5E0019;
  font-family: "Martel";
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: #FAF5F5;
  padding-bottom: 0.8%;
  padding-top: 0.8%;
}
.fichaTecnica__tablas {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #181818;
  font-size: 18px;
  font-family: "Montserrat";
}
.fichaTecnica__tabla1 {
  margin-top: 2%;
  margin-left: 10%;
  margin-bottom: 2%;
}
.fichaTecnica__tabla2 {
  margin-top: 2%;
  padding-right: 7%;
  margin-bottom: 2%;
}
.fichaTecnica__middle {
  margin-top: 0%;
  width: 0.3%;
  background-color: #5E0019;
}
.fichaTecnica tbody {
  width: 100%;
}
.fichaTecnica tr {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.fichaTecnica td {
  padding: 2%;
  width: 200px;
}
@media (max-width: 700px) {
  .fichaTecnica {
    margin-top: 6%;
  }
  .fichaTecnica__title {
    font-size: 18px;
  }
  .fichaTecnica__tablas {
    flex-wrap: wrap;
    justify-content: center;
  }
  .fichaTecnica__middle {
    margin-top: 0%;
    height: 2px;
    width: 100%;
    background-color: #5E0019;
  }
  .fichaTecnica__tabla1 {
    margin-left: 5%;
  }
  .fichaTecnica__tabla2 {
    margin-left: 9%;
  }
}

.galery {
  width: 100%;
  margin-bottom: 1%;
  background-color: #ECC9C7;
  z-index: 3;
}
.galery__title {
  width: 100%;
  background-color: #5E0019;
  font-family: "Martel";
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: #FAF5F5;
  padding-bottom: 0.8%;
  padding-top: 0.8%;
}
.galery__carrousel {
  display: flex;
  width: 90%;
  margin-left: 5%;
  overflow: hidden;
}
.galery__slyder {
  display: flex;
  margin: 4%;
  justify-content: center;
  align-items: center;
  transition: transform 700ms ease-in-out;
}
.galery__slide {
  flex-shrink: 0;
}

.newsletter {
  width: 100%;
  margin-top: 2%;
  font-family: "Montserrat";
  background-color: #ECC9C7;
  color: #5E0019;
  padding-top: 3%;
}
.newsletter__question {
  font-size: 22px;
  display: flex;
  justify-content: center;
  font-weight: 600;
}
.newsletter__suscribe {
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-top: 1%;
}
.newsletter__checkboxx {
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-top: 1%;
}
.newsletter__email {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 3%;
}
.newsletter__input {
  background-color: #FAF5F5;
  border-radius: 50px;
  border: 0;
  outline: none;
  font-size: 20px;
  height: 35px;
  width: 30%;
  padding-left: 1%;
}
.newsletter__suscribeBtn {
  margin-left: 3%;
}

.footer {
  background-color: #5E0019;
  width: 100%;
  padding-top: 2%;
  font-family: "Montserrat";
  color: #FAF5F5;
}
.footer__logo {
  display: flex;
  justify-content: center;
}
.footer__phrase {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.footer__links {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 5%;
}
.footer__link1 {
  list-style-type: none;
  margin-left: 1%;
}
.footer__link2 {
  list-style-type: none;
}
.footer__link3 {
  list-style-type: none;
}
.footer__link4 {
  list-style-type: none;
  margin-right: 5%;
}
.footer__icons {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.btninteract {
  color: #FAF5F5;
  background-color: #5E0019;
  display: flex;
  margin-left: 83%;
  margin-top: 2%;
  margin-bottom: 1%;
  border-radius: 15%;
  border-color: #5E0019;
}
@media (max-width: 700px) {
  .btninteract {
    margin-left: 40%;
  }
}/*# sourceMappingURL=main.css.map */