@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
/*Font light-bold*/
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300;400;700;800&display=swap");
/*light-regular-bold-extraBold*/
html {
  overflow-x: hidden;
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

body {
  background-color: #FAF5F5;
  margin: 0;
}

ul {
  -webkit-margin-before: 0.7em;
          margin-block-start: 0.7em;
  -webkit-margin-after: 0.7em;
          margin-block-end: 0.7em;
}

.modalLoginButton {
  padding: 0;
  background-color: #f7e4e400;
  border-radius: 30px;
  height: 48px;
  border-color: #ECC9C7;
}

.header {
  display: flex;
  position: fixed;
  flex-direction: column;
  margin: 0;
  z-index: 4;
  width: 100%;
  top: 0;
  /* &__shopButton2 {  
       padding-top: 0;
       margin-bottom: 1em;
       background-color: blanchedalmond;
       height: 20px;
       position: absolute;
   }   */
}
.header__menuResponsive {
  display: none;
  background-color: #A1002A;
  padding-top: 10px;
  padding-left: 1.5%;
  left: 0;
  right: 0;
  align-items: center;
  height: 70px;
}
.header__menuResposive2 {
  list-style-type: none;
}
.header__nav {
  display: flex;
  flex-direction: column;
}
.header__help {
  background-color: #E42E5D;
  font-family: "Martel";
  color: #F1DDD2;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 3%;
  padding-right: 3%;
  justify-content: space-between;
  height: 20px;
  align-items: center;
  width: 100%;
}
.header__nota {
  font-weight: 300;
  font-size: 12px;
}
.header__helpText {
  font-weight: 700;
  font-size: 12px;
}
.header__menu {
  background-color: #A1002A;
  display: flex;
  padding-left: 1.5%;
  left: 0;
  right: 0;
  align-items: center;
  height: 90px;
}
.header__buttonsBar {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-right: 3%;
  margin-bottom: 1em;
}
.header__searchBar {
  background-color: #FAF5F5;
  display: flex;
  padding: 8px;
  align-items: center;
  border-radius: 20px;
  margin-left: 15%;
}
.header__searchInput {
  background-color: #FAF5F5;
  border-radius: 5px;
  border: 0;
  outline: none;
  font-size: 20px;
}
.header__suscribe {
  padding: 8px;
  margin-top: 8px;
  border-radius: 30px;
  height: 30px;
  margin: auto;
}
.header__login {
  justify-content: center;
  padding: 8px;
  margin-top: 8px;
  border-radius: 30px;
  height: 30px;
  width: 130px;
  margin: auto;
}
.header__bookOptions1 {
  display: flex;
  background-color: #A1002A;
  color: #FAF5F5;
  font-family: "Martel";
  width: 100%;
  height: 55px;
  flex-wrap: wrap;
}
.header__bookOptions2 {
  list-style-type: none;
  display: flex;
  padding-left: 3.5%;
  align-items: center;
}
.header__bookOptions3 {
  float: left;
  text-align: center;
  margin-bottom: 0px;
  padding: 0px 20px;
  top: 0px;
  margin-right: 45px;
}
.header__shopButton {
  justify-content: center;
  border-radius: 30px;
  height: 50px;
}
.header__toCartBtn {
  padding: 0;
  background-color: #f7e4e400;
  border-radius: 30px;
  height: 43px;
  border-color: #ECC9C7;
  position: absolute;
  top: 68%;
  left: 86%;
  z-index: 0;
}
.header__pinCartText {
  position: absolute;
  top: 68%;
  left: 93%;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 20px;
  width: 27px;
  background-color: #B9001A;
  border-radius: 30px;
  padding: 0 auto;
  text-align: center;
  z-index: 4;
}
@media (max-width: 700px) {
  .header__logo {
    margin-left: 11%;
  }
  .header__buttonsBar {
    display: none;
  }
  .header__searchBar {
    display: none;
  }
  .header__suscribe {
    height: 10px;
  }
  .header__login {
    height: 10px;
  }
  .header__bookOptions1 {
    display: none;
  }
  .header__menuResponsive {
    display: flex;
    height: 45px;
    width: 100%;
    justify-content: space-between;
  }
  .header__menuResponsive2 {
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
  }
  .header__menuResponsive3 {
    display: inline;
    margin-left: 6%;
    margin-right: 6%;
  }
  .header__menuResponsiveH {
    display: inline;
    margin-left: 6%;
    margin-right: 6%;
  }
  .header__help {
    justify-content: space-evenly;
  }
}

.banner {
  width: 100%;
  margin-top: 180px;
  align-items: center;
  position: relative;
}
.banner__fondoLib {
  width: 80%;
  height: 450px;
  margin-left: 10%;
  margin-right: 10%;
  background-image: url(../img/fondoBANNER.png);
  background-size: cover;
  background-position: bottom;
  justify-content: center;
}
.banner__textt {
  position: absolute;
  background-color: #5E001980;
  color: #FFFF;
  width: 100%;
  margin-top: 10%;
}
.banner__textt2 {
  font-family: "Montserrat";
  font-size: 35px;
  text-align: center;
  font-weight: 500;
  margin-top: 2%;
  opacity: 1;
}
.banner__textt3 {
  font-family: "Martel";
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 2%;
}
@media (max-width: 700px) {
  .banner .banner {
    justify-content: center;
  }
  .banner .banner img {
    width: 100%;
  }
  .banner .banner__fondoLib {
    height: 400px;
  }
  .banner .banner__textt {
    margin-top: 28%;
  }
  .banner .banner__textt2 {
    padding-left: 3%;
    padding-right: 3%;
    font-size: 25px;
  }
  .banner .banner__textt3 {
    font-size: 15px;
  }
}

.separator {
  display: flex;
  margin: auto;
  margin-bottom: 1%;
  margin-top: 1%;
  width: 100%;
  justify-content: center;
}
.publicidad {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.publicidad img {
  width: 165%;
}

.presLibro {
  color: #FAF5F5;
  width: 100%;
  margin: auto;
  margin-bottom: 1%;
  margin-top: 1%;
}
.presLibro__title {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  background-color: #5E0019;
  font-family: "Martel";
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 2%;
  margin-top: 1%;
}
.presLibro__title2 {
  list-style-type: none;
  text-align: center;
}
.presLibro__char1 {
  display: flex;
  width: 100%;
  margin-top: 1%;
  flex-wrap: wrap;
}
.presLibro__fondo {
  background-image: url(../img/fondoCHAR1.png);
  background-image: url(../img/FONDOprueba.png);
  width: 100%;
  background-size: auto;
  background-position: bottom;
}
.presLibro__elements {
  width: 100%;
  display: flex;
  font-family: "Montserrat";
}
.presLibro__book {
  display: flex;
  height: 90%;
  margin-left: 5%;
}
.presLibro__sinopsis {
  width: 40%;
  margin-top: 7%;
  margin-left: 15%;
  font-size: 12px;
  display: flex;
}
.presLibro__ranking {
  display: flex;
  margin-top: 19%;
  font-size: 18px;
  text-align: center;
  margin-right: 3%;
  margin-left: 3%;
}
.presLibro__sinopsisResponsive {
  display: none;
}
@media (max-width: 700px) {
  .presLibro__title {
    font-size: 18px;
  }
  .presLibro__fondo {
    width: 100%;
    background-size: cover;
    background-position: bottom;
  }
  .presLibro__elements {
    display: flex;
  }
  .presLibro__sinopsis {
    display: none;
  }
  .presLibro__sinopsisResponsive {
    display: flex;
    color: #5E0019;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 500;
    padding: 7%;
  }
  .presLibro__imgBook {
    width: 200px;
  }
  .presLibro__ranking {
    margin-top: 26%;
    order: 1;
    font-size: 14px;
  }
}

.description {
  background-image: url(../img/fondoChar2_1.png);
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: "Montserrat";
  margin-top: 5%;
}
.description__cards {
  margin-top: 6%;
  margin-left: 3%;
  margin-right: 5%;
  width: 50%;
  display: flex;
}
.description__cardText {
  list-style-type: none;
  text-align: center;
  margin-top: 20%;
  color: #FAF5F5;
}
.description__cardText2 {
  font-size: 18px;
}
.description__cardText3 {
  font-size: 12px;
}
.description__pdf {
  margin-right: 3%;
  width: 50%;
  display: flex;
}
.description__pdfText {
  list-style-type: none;
  text-align: center;
  margin-top: 28%;
  color: #FAF5F5;
  margin-right: 4%;
}
.description__pdfText2 {
  font-size: 18px;
}
.description__pdfText3 {
  font-size: 12px;
}
.description__carrousel {
  display: flex;
  width: 32%;
  overflow: hidden;
  border-radius: 10%;
}
.description__slyder {
  display: flex;
  margin-left: 5%;
  margin-right: 10%;
  align-items: center;
  transition: transform 700ms ease-in-out;
}
.description__slide {
  margin-top: 1%;
  position: relative;
}
.description__mockup {
  position: absolute;
  z-index: 1;
}
.description__movilInteract {
  display: none;
}
@media (max-width: 700px) {
  .description .description {
    background-size: auto;
  }
  .description__cards {
    flex-wrap: wrap;
  }
  .description__cardText {
    padding: 0;
    margin-left: 5%;
    margin-top: 39%;
  }
  .description__cardText2 {
    background-color: #ffeaef;
    color: #5E0019;
  }
  .description__cardText3 {
    background-color: #ffeaef;
    color: #5E0019;
    margin-top: 0;
  }
  .description__pdf {
    flex-wrap: wrap;
  }
  .description__pdfText2 {
    background-color: #ffeaef;
    color: #5E0019;
  }
  .description__pdfText3 {
    background-color: #ffeaef;
    color: #5E0019;
  }
  .description__carrousel {
    display: none;
  }
  .description__movilInteract {
    display: flex;
  }
  .description__pdfText {
    order: 1;
    margin-top: 10%;
    margin-right: 5%;
    padding: 0;
  }
  .description__cardImg {
    height: 193px;
    width: 215px;
    margin-top: 40%;
  }
  .description__interactImg {
    width: 70%;
    order: 1;
    margin-left: 15%;
    margin-top: 30%;
  }
}

.modal {
  display: flex;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: none;
  z-index: 5;
  transition: opacity 0.5s ease;
  opacity: 0;
}
.modal__backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.modal__content {
  padding-bottom: 20px;
  margin: 3% auto;
  width: 100%;
  max-width: 400px;
  max-height: 470px;
  display: flex;
  overflow: hidden;
  border-radius: 10%;
  border-right: 20%;
}
.modal__slyder {
  margin-left: 3.5%;
  margin-top: 3%;
  margin-right: 10%;
  align-items: center;
  transition: transform 700ms ease-in-out;
}
.modal__slide {
  margin-top: 1%;
  position: relative;
}
.modal__mockup {
  position: absolute;
  z-index: 1;
}
@media (max-width: 700px) {
  .modal {
    right: 10%;
  }
}

.fichaTecnica {
  width: 100%;
  margin: auto;
  margin-top: 2%;
}
.fichaTecnica__title {
  width: 100%;
  background-color: #5E0019;
  font-family: "Martel";
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: #FAF5F5;
  padding-bottom: 0.8%;
  padding-top: 0.8%;
}
.fichaTecnica__tablas {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #181818;
  font-size: 18px;
  font-family: "Montserrat";
}
.fichaTecnica__tabla1 {
  margin-top: 2%;
  margin-left: 10%;
  margin-bottom: 2%;
}
.fichaTecnica__tabla2 {
  margin-top: 2%;
  padding-right: 7%;
  margin-bottom: 2%;
}
.fichaTecnica__middle {
  margin-top: 0%;
  width: 0.3%;
  background-color: #5E0019;
}
.fichaTecnica tbody {
  width: 100%;
}
.fichaTecnica tr {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.fichaTecnica td {
  padding: 2%;
  width: 200px;
}
@media (max-width: 700px) {
  .fichaTecnica {
    margin-top: 6%;
  }
  .fichaTecnica__title {
    font-size: 18px;
  }
  .fichaTecnica__tablas {
    flex-wrap: wrap;
    justify-content: center;
  }
  .fichaTecnica__middle {
    margin-top: 0%;
    height: 2px;
    width: 100%;
    background-color: #5E0019;
  }
  .fichaTecnica__tabla1 {
    margin-left: 5%;
  }
  .fichaTecnica__tabla2 {
    margin-left: 9%;
  }
}

.galery {
  width: 100%;
  margin-bottom: 1%;
  background-color: #ECC9C7;
  z-index: 3;
}
.galery__title {
  width: 100%;
  background-color: #5E0019;
  font-family: "Martel";
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: #FAF5F5;
  padding-bottom: 0.8%;
  padding-top: 0.8%;
}
.galery__carrousel {
  display: flex;
  width: 90%;
  margin-left: 5%;
  overflow: hidden;
}
.galery__slyder {
  display: flex;
  margin: 4%;
  justify-content: center;
  align-items: center;
  transition: transform 700ms ease-in-out;
}
.galery__slide {
  flex-shrink: 0;
}
@media (max-width: 700px) {
  .galery__title {
    font-size: 18px;
  }
}

.newsletter {
  width: 100%;
  margin-top: 2%;
  font-family: "Montserrat";
  background-color: #ECC9C7;
  color: #5E0019;
  padding-top: 3%;
}
.newsletter__question {
  font-size: 22px;
  display: flex;
  justify-content: center;
  font-weight: 600;
}
.newsletter__suscribe {
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-top: 1%;
}
.newsletter__checkboxx {
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-top: 1%;
}
.newsletter__email {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 3%;
}
.newsletter__input {
  background-color: #FAF5F5;
  border-radius: 50px;
  border: 0;
  outline: none;
  font-size: 20px;
  height: 35px;
  width: 30%;
  padding-left: 1%;
}
.newsletter__suscribeBtn {
  margin-left: 3%;
}
@media (max-width: 700px) {
  .newsletter {
    padding-left: 5%;
  }
  .newsletter__question {
    display: inherit;
  }
  .newsletter__input {
    font-size: 15px;
  }
}

.footer {
  background-color: #5E0019;
  width: 100%;
  padding-top: 2%;
  font-family: "Montserrat";
  color: #FAF5F5;
  padding-bottom: 2%;
}
.footer__logo {
  display: flex;
  width: 100%;
  justify-content: center;
}
.footer__phrase {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.footer__links {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 5%;
}
.footer__link1 {
  list-style-type: none;
  margin-left: 1%;
}
.footer__link2 {
  list-style-type: none;
}
.footer__link3 {
  list-style-type: none;
}
.footer__link4 {
  list-style-type: none;
  margin-right: 5%;
}
.footer__icons {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.footer__linksMOVIL {
  display: none;
}
@media (max-width: 700px) {
  .footer__logoIMG {
    width: 50%;
  }
  .footer__phrase {
    font-size: 14px;
  }
  .footer__links {
    display: none;
  }
  .footer__linksMOVIL {
    display: flex;
    margin-top: 5%;
  }
  .footer__linksMOVIL1 {
    list-style-type: none;
    margin-left: 18%;
    text-align: center;
  }
  .footer__linksMOVIL2 {
    margin-top: 5px;
  }
  .footer__icons {
    margin-top: 5%;
  }
  .footer__icon {
    width: 90%;
  }
}

.btninteract {
  color: #FAF5F5;
  background-color: #5E0019;
  display: flex;
  margin-left: 83%;
  margin-top: 2%;
  margin-bottom: 1%;
  border-radius: 15%;
  border-color: #5E0019;
}
@media (max-width: 700px) {
  .btninteract {
    margin-left: 40%;
  }
}

.menuModal {
  display: none;
  z-index: 7;
  transition: opacity 0.5s ease;
  opacity: 0;
}
.menuModal__backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
}
.menuModal__content {
  display: flex;
  background-color: #A1002A;
  color: #F1DDD2;
  width: 50%;
  position: fixed;
}
.menuModal__list {
  list-style-type: none;
  padding: 15px;
  justify-content: center;
  margin-left: 25%;
}
.menuModal__list2 {
  font-family: "Martel";
  margin-top: 20%;
  text-align: center;
}

.publicidadStore {
  display: flex;
  margin-top: 175px;
}
.publicidadStore__pubResponsive {
  display: none;
}
@media (max-width: 600px) {
  .publicidadStore__pubResponsive {
    display: flex;
    width: 100%;
  }
  .publicidadStore__publi1 {
    display: none;
  }
}

.products {
  margin-top: 2.5%;
}
.products__titleAndSort {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #5E0019;
  color: #FAF5F5;
  align-items: center;
  height: 100px;
}
.products__title1 {
  font-family: "Martel";
  font-size: 22px;
  font-weight: 700;
  width: 10%;
  margin-left: 3%;
}
.products__sort {
  margin-left: 30%;
}
.products__titleSort {
  font-family: "Martel";
  font-size: 22px;
  font-weight: 700;
}
.products__listSort {
  font-family: "Montserrat";
  padding: 3px;
  font-size: 17px;
  border-radius: 20px;
  width: 300px;
  height: 35px;
}
.products__filtersAndBooksContainer {
  display: flex;
  flex-direction: row;
}
.products__separadorInferior {
  background-color: #A1002A60;
  height: 4px;
  width: 95%;
  margin-left: 3%;
  margin-top: 6%;
  margin-bottom: 1.5%;
}
.products__separadorInferior1 {
  background-color: #A1002A60;
  height: 4px;
  width: 95%;
  margin-left: 1%;
  margin-top: 3%;
  margin-bottom: 1.5%;
}
.products__articulos {
  width: 100%;
  margin-left: 2%;
}
.products__ordenarInferior {
  margin-left: 22%;
  margin-bottom: 45px;
}
.products__titleDownSort {
  font-family: "Martel";
  font-size: 23px;
  font-weight: 700;
  color: #5E0019;
}
.products__listSortDown {
  font-family: "Montserrat";
  padding: 3px;
  font-size: 17px;
  border-radius: 20px;
  width: 300px;
  height: 35px;
  background-color: #ECC9C7;
  border: none;
}
.products__responsiveTitle {
  display: none;
}
@media (max-width: 700px) {
  .products__titleSort {
    display: none;
  }
  .products__titleAndSort {
    background-color: #FAF5F5;
  }
  .products__titleDownSort {
    display: none;
  }
  .products__title1 {
    font-size: 12px;
    display: none;
  }
  .products__responsiveTitle {
    display: flex;
    margin-left: 7%;
    align-items: center;
  }
  .products__listSort {
    width: 170px;
    background-color: #ECC9C7;
    border-radius: 10px;
    border-color: #ECC9C7;
  }
  .products__sort {
    margin-left: 5%;
  }
  .products__ordenarInferior {
    margin-left: 3%;
  }
  .products__listSortDown {
    width: 170px;
    border-radius: 10px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding-bottom: 1%;
  border-radius: 20px;
  background-color: #f7e2df;
  top: 120px;
  margin: 10% auto;
}

.authForm {
  position: fixed;
  background-color: #0000009c;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}
.authForm__error {
  font-family: "Montserrat";
  margin-left: 5%;
  margin-right: 3%;
  font-size: 12px;
  color: red;
  margin-bottom: 4%;
}
.authForm__title {
  display: flex;
  justify-content: center;
  font-family: "Martel";
  background-color: #5E0019;
  color: #FAF5F5;
  width: 100%;
}
.authForm__titlee {
  font-size: 22px;
  padding: 2%;
}
.authForm__name {
  border-color: #ECC9C7;
  border-style: solid;
  margin-top: 5%;
  margin-right: 7%;
  margin-left: 7%;
  padding: 3%;
  font-family: "Montserrat";
}
.authForm__email {
  border-color: #ECC9C7;
  border-style: solid;
  margin-top: 3%;
  margin-right: 7%;
  margin-left: 7%;
  padding: 3%;
  font-family: "Montserrat";
}
.authForm__password {
  border-color: #ECC9C7;
  border-style: solid;
  margin-top: 3%;
  margin-right: 7%;
  margin-left: 7%;
  margin-bottom: 5%;
  padding: 3%;
  font-family: "Montserrat";
}
.authForm__buttons {
  display: flex;
  justify-content: space-around;
}
.authForm__loginBtn {
  background-color: #5E0019;
  font-family: "Martel";
  font-size: 15px;
  color: #FAF5F5;
  border-radius: 10px;
  width: 40%;
}
.authForm__registerBtn {
  background-color: #5E0019;
  font-family: "Martel";
  font-size: 15px;
  color: #FAF5F5;
  border-radius: 10px;
  width: 40%;
}
.authForm__registerBtn2 {
  background-color: #5E0019;
  font-family: "Martel";
  font-size: 15px;
  color: #FAF5F5;
  border-radius: 10px;
  width: 40%;
  margin-left: 30%;
  margin-top: 2%;
}
.authForm__label {
  font-size: 12px;
}
.authForm__input {
  background-color: #5E001900;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-color: #5E001920;
  outline: none;
  font-size: 20px;
  color: #292929;
  font-weight: 200;
}

.productV {
  display: flex;
  margin-top: 210px;
}
.productV__img {
  margin-left: 8%;
  margin-right: 6%;
}
.productV__descripcion {
  display: flex;
  flex-direction: column;
}
.productV__titulo {
  font-family: "Martel";
  font-weight: 800;
  font-size: 30px;
  margin-top: 10px;
}
.productV__autor {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 400;
  margin-top: 3%;
}
.productV__precio {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 800;
  margin-top: 3%;
  margin-bottom: 3%;
}
.productV__cantidades {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10%;
}
.productV__restar {
  background-color: #ECC9C7;
  border-color: #ECC9C7;
  color: #5E0019;
  font-family: "Martel";
  font-size: 35px;
  font-weight: 800;
  width: 50px;
  padding-bottom: 4%;
}
.productV__sumar {
  background-color: #ECC9C7;
  border-color: #ECC9C7;
  color: #5E0019;
  font-family: "Martel";
  font-size: 35px;
  font-weight: 800;
  width: 50px;
  padding-bottom: 4%;
}
.productV__anadirAlCarro {
  background-color: #5E0019;
  font-family: "Martel";
  font-size: 15px;
  color: #FAF5F5;
  border-radius: 10px;
  width: 30%;
}
.productV__Separador {
  background-color: #A1002A60;
  height: 4px;
  width: 800px;
  margin-bottom: 3%;
}
.productV__details {
  display: flex;
  margin-bottom: 7%;
  flex-wrap: wrap;
  font-family: "Montserrat";
}
.productV__editorial {
  width: 30%;
}
.productV__presentacion {
  width: 30%;
}
.productV__ISBN {
  width: 30%;
}
.productV__autores {
  width: 30%;
  margin-top: 2%;
}
.productV__genero {
  margin-top: 2%;
  width: 30%;
}
.productV__formato {
  margin-top: 2%;
  width: 30%;
}
.productV__detailTitle {
  font-size: 12px;
}
.productV__detailDataEditorial {
  font-size: 20px;
}
.productV__detailDataPresentacion {
  font-size: 20px;
}
.productV__detailDataAutor {
  font-size: 20px;
}
.productV__detailDataCategoria {
  font-size: 20px;
}
.productV__detailDataFormato {
  font-size: 20px;
}
.productV__detailData {
  font-size: 20px;
}
.productV__titleExpand {
  background-color: #ECC9C7;
  font-family: "Martel";
  font-size: 27px;
  font-weight: 800;
  padding-left: 2%;
  border-radius: 10px;
}
.productV__descripcionExpand {
  font-family: "Montserrat";
  font-size: 14px;
  margin-bottom: 1%;
  padding-right: 5%;
}
.productV__espExpand {
  font-family: "Montserrat";
  font-size: 14px;
  margin-bottom: 1%;
  padding-right: 5%;
}
.productV__politicasExpand {
  font-family: "Montserrat";
  font-size: 14px;
  margin-bottom: 1%;
  padding-right: 5%;
}
.productV__listContainer {
  display: flex;
}
.productV__espList2 {
  margin-left: 8%;
}
.productV__textExpand {
  margin-right: 10%;
  margin-bottom: 5%;
}
@media (max-width: 600px) {
  .productV {
    flex-direction: column;
    margin-top: 190px;
    padding-left: 5%;
  }
  .productV__Separador {
    width: 95%;
  }
  .productV__img {
    margin-left: 15.5%;
  }
  .productV__imge {
    width: 280px;
  }
  .productV__anadirAlCarro {
    width: 40%;
    margin-left: 24%;
  }
  .productV__descripcion {
    margin-bottom: 20px;
  }
  .productV__detailDataEditorial {
    font-size: 18px;
  }
  .productV__detailDataPresentacion {
    font-size: 18px;
  }
  .productV__detailDataAutor {
    font-size: 18px;
  }
  .productV__detailDataCategoria {
    font-size: 18px;
  }
  .productV__detailDataFormato {
    font-size: 18px;
  }
  .productV__detailData {
    font-size: 18px;
  }
  .productV__detailTitle {
    font-size: 11px;
  }
  .productV__textExpand {
    font-size: 16px;
    text-align: center;
    margin-right: 1%;
  }
  .productV__espList2 {
    margin-left: 0%;
  }
  .productV__espList1 {
    padding-left: 5%;
  }
}

.resena {
  margin-left: 4%;
  margin-top: 8%;
  margin-bottom: 8%;
}
.resena__heead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.resena__title {
  font-family: "Martel";
  font-size: 27px;
  font-weight: 800;
}
.resena__add {
  font-family: "Montserrat";
  font-size: 20px;
  margin-right: 26%;
}
.resena__addBtn {
  border-radius: 15px;
  border-color: #ECC9C7;
  background-color: #FAF5F5;
}
.resena__Separador2 {
  background-color: #A1002A60;
  height: 4px;
  width: 94%;
  margin-bottom: 2%;
}
.resena__resenaPrueba {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
}
.resena__textt {
  margin-bottom: 1%;
}
.resena__textt2 {
  margin-top: 1%;
}
@media (max-width: 600px) {
  .resena {
    margin-top: 15%;
    margin-bottom: 20%;
  }
  .resena__title {
    font-size: 20px;
  }
  .resena__add {
    font-size: 15px;
    margin-right: 6%;
  }
}

.interest {
  display: flex;
  flex-direction: column;
  background-color: #ECC9C7;
}
.interest__title {
  width: 100%;
  background-color: #5E0019;
  font-family: "Martel";
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: #FAF5F5;
  padding-bottom: 0.8%;
  padding-top: 0.8%;
}
.interest__carrousel {
  display: flex;
  width: 90%;
  margin-left: 5%;
  overflow: hidden;
}
.interest__slyder {
  display: flex;
  margin: 4%;
  justify-content: center;
  align-items: center;
  transition: transform 700ms ease-in-out;
}
.interest__slide {
  flex-shrink: 0;
  margin-left: 2%;
}

.gnral {
  display: flex;
  flex-direction: row;
}

.payContainer {
  display: flex;
  margin-top: 220px;
  flex-direction: column;
  width: 60%;
  margin-right: 2%;
  font-family: "Montserrat";
}
.payContainer__title {
  width: 93%;
  background-color: #5E0019;
  font-family: "Martel";
  font-size: 22px;
  font-weight: 600;
  padding-left: 7%;
  color: #FAF5F5;
  padding-bottom: 0.8%;
  padding-top: 0.8%;
  margin-bottom: 2%;
}
.payContainer__label {
  font-size: 12px;
}
.payContainer__input {
  background-color: #5E001900;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-color: #5E001920;
  outline: none;
  font-size: 20px;
  color: #292929;
  font-weight: 200;
}
.payContainer__personal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.payContainer__name {
  border-color: #ECC9C7;
  border-style: solid;
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 7%;
  padding: 3%;
  width: 38.5%;
}
.payContainer__lastName {
  border-color: #ECC9C7;
  border-style: solid;
  margin-top: 2%;
  padding: 3%;
  width: 38.5%;
}
.payContainer__documentType {
  border-color: #ECC9C7;
  border-style: solid;
  margin-top: 3%;
  margin-right: 2%;
  margin-left: 7%;
  margin-bottom: 5%;
  padding: 3%;
  width: 38.5%;
}
.payContainer__documentNumber {
  border-color: #ECC9C7;
  border-style: solid;
  margin-top: 3%;
  margin-bottom: 5%;
  padding: 3%;
  width: 38.5%;
}
.payContainer__direccionn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.payContainer__pais {
  border-color: #ECC9C7;
  border-style: solid;
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 7%;
  padding: 3%;
  width: 38.5%;
}
.payContainer__depto {
  border-color: #ECC9C7;
  border-style: solid;
  margin-top: 2%;
  padding: 3%;
  width: 38.5%;
}
.payContainer__city {
  border-color: #ECC9C7;
  border-style: solid;
  margin-top: 3%;
  margin-right: 2%;
  margin-left: 7%;
  margin-bottom: 5%;
  padding: 3%;
  width: 38.5%;
}
.payContainer__direccion {
  border-color: #ECC9C7;
  border-style: solid;
  margin-top: 3%;
  margin-bottom: 5%;
  padding: 3%;
  width: 38.5%;
}
.payContainer__paggo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.payContainer__tarjeta {
  border-color: #ECC9C7;
  border-style: solid;
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 7%;
  padding: 3%;
  width: 38.5%;
}
.payContainer__numtarjeta {
  border-color: #ECC9C7;
  border-style: solid;
  margin-top: 2%;
  padding: 3%;
  width: 38.5%;
}
.payContainer__titularName {
  border-color: #ECC9C7;
  border-style: solid;
  margin-top: 3%;
  padding: 3%;
  width: 38.5%;
}
.payContainer__fechatarjeta {
  border-color: #ECC9C7;
  border-style: solid;
  margin-top: 3%;
  margin-right: 2%;
  margin-left: 7%;
  padding: 3%;
  width: 38.5%;
}
.payContainer__cvv {
  border-color: #ECC9C7;
  border-style: solid;
  margin-right: 2%;
  margin-left: 7%;
  padding: 3%;
  width: 38.5%;
  margin-top: 3%;
}

.orden {
  margin-top: 220px;
  width: 40%;
  margin-right: 3%;
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}
.orden__containtergnral {
  background-color: #ECC9C7;
  border-radius: 20px;
  padding: 4%;
}
.orden__title {
  font-size: 24px;
  font-weight: 500;
}
.orden__separaddor {
  background-color: #A1002A60;
  height: 4px;
  width: 100%;
  margin-bottom: 2%;
}
.orden table {
  font-size: 15px;
}
.orden__TOTAL {
  font-size: 24px;
}
.orden td {
  width: 400px;
  height: 30px;
}
.orden__comprarBtn {
  background-color: #5E0019;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  color: #FAF5F5;
  border-radius: 10px;
  width: 95%;
  margin-left: 2.5%;
  margin-top: 3%;
  height: 65px;
  margin-bottom: 10%;
}
.orden__resTitle {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 2%;
}
.orden__separador {
  background-color: #A1002A60;
  height: 4px;
  width: 100%;
  margin-bottom: 7%;
}
.orden__descripcion {
  display: flex;
  flex-direction: row;
}
.orden__imgLib {
  margin-right: 8%;
}
.orden__libroTitle {
  font-family: "Martel";
  font-size: 20px;
  font-weight: 800;
}
.orden__datos {
  font-family: "Montserrat";
  font-size: 14px;
}
.orden__totalPrice {
  font-family: "Montserrat";
  font-size: 21px;
  font-weight: 700;
  margin-top: 24%;
}
@media (max-width: 700px) {
  .orden {
    margin-top: 100px;
    width: 86%;
    margin-left: 6%;
  }
}

.separador {
  background-color: #A1002A60;
  height: 4px;
  width: 100%;
  margin-bottom: 4%;
  margin-top: 7%;
}

.mensaje {
  font-family: "Montserrat";
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}
.mensaje__texto {
  width: 50%;
  text-align: center;
}

.gnral {
  display: flex;
}
@media (max-width: 700px) {
  .gnral {
    flex-direction: column;
  }
}

.cartContainer {
  margin-top: 220px;
  width: 80%;
}
.cartContainer__title {
  width: 93%;
  background-color: #5E0019;
  font-family: "Martel";
  font-size: 22px;
  font-weight: 600;
  padding-left: 7%;
  color: #FAF5F5;
  padding-bottom: 0.8%;
  padding-top: 0.8%;
  margin-bottom: 2%;
}
.cartContainer__list {
  display: flex;
  flex-direction: column;
}
.cartContainer__item1 {
  margin-left: 8%;
  display: flex;
  flex-direction: row;
  margin-top: 3%;
}
.cartContainer__description {
  margin-left: 5%;
}
.cartContainer__desTitle1 {
  font-family: "Martel";
  font-size: 20px;
  font-weight: 800;
  width: 280px;
  margin: 0;
}
.cartContainer__desTitle {
  font-family: "Martel";
  font-size: 20px;
  font-weight: 800;
  width: 150px;
}
.cartContainer__precio {
  font-family: "Montserrat";
  font-size: 16px;
}
.cartContainer__text {
  font-family: "Montserrat";
  font-size: 14px;
}
.cartContainer__Btns {
  display: flex;
  margin-top: 10%;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 25px;
  height: 55px;
  margin-bottom: 7%;
}
.cartContainer__restar {
  background-color: #ECC9C7;
  border-color: #ECC9C7;
  color: #3d3c3c;
  font-family: "Martel";
  font-size: 35px;
  font-weight: 800;
  width: 50px;
}
.cartContainer__sumar {
  background-color: #ECC9C7;
  border-color: #ECC9C7;
  color: #3d3c3c;
  font-family: "Martel";
  font-size: 35px;
  font-weight: 800;
  width: 50px;
}
.cartContainer__cantidad {
  font-family: "Montserrat";
  font-size: 30px;
  margin-left: 5%;
  margin-right: 5%;
  align-self: center;
  color: #3d3c3c;
}
.cartContainer__deleteItemBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-color: #FAF5F5;
  background-color: #FAF5F5;
  font-family: "Montserrat";
  font-size: 16px;
  margin-bottom: 4%;
}
.cartContainer__imgb {
  margin-right: 8px;
}
.cartContainer__valorU {
  width: 40%;
}
.cartContainer__precioResponsive {
  display: none;
}
@media (max-width: 700px) {
  .cartContainer {
    width: 100%;
  }
  .cartContainer__item1 {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
    align-items: center;
    margin-top: 0;
  }
  .cartContainer__valorU {
    display: none;
  }
  .cartContainer__valorT {
    width: 35%;
    display: none;
  }
  .cartContainer__description {
    margin: 0;
    width: 50%;
  }
  .cartContainer__precioResponsive {
    display: block;
  }
  .cartContainer__imgProd {
    height: 200px;
    margin-right: 15px;
  }
  .cartContainer__desTitle1 {
    width: 240px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-bottom: 5%;
}
.info__separador {
  background-color: #A1002A60;
  height: 4px;
  width: 90%;
  margin-bottom: 5%;
  align-self: center;
}
.info__textDespachos {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 400;
  width: 500px;
  text-align: center;
  align-self: center;
}
@media (max-width: 700px) {
  .info__textDespachos {
    width: 100%;
    font-size: 20px;
  }
}

.notica {
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 600;
  color: #5E0019;
  text-align: center;
  margin-top: 5%;
}

.Adminproducts__addElementContainer {
  background-color: #00000030;
  width: 97%;
  display: flex;
  justify-content: center;
  height: 50px;
  margin-bottom: 1%;
}
.Adminproducts__addElement {
  background-color: #5E0019;
  border-color: #ECC9C7;
  color: #FAF5F5;
  width: 200px;
  font-family: "Montserrat";
  font-size: 16px;
  border-radius: 10px;
  justify-self: center;
  height: 40px;
  align-self: center;
}

.GnralTitle {
  display: flex;
  font-family: "Martel";
  font-size: 25px;
  font-weight: 800;
  color: #5E0019;
  margin-top: 200px;
  margin-left: 40%;
  margin-bottom: 3%;
}

.AdminContainer {
  display: flex;
  flex-direction: row;
}
.AdminContainer__res1 {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 2%;
  font-family: "Montserrat";
  margin-bottom: 5%;
}
.AdminContainer__title {
  width: 93%;
  background-color: #5E0019;
  font-family: "Martel";
  font-size: 22px;
  font-weight: 600;
  padding-left: 7%;
  color: #FAF5F5;
  padding-bottom: 0.8%;
  padding-top: 0.8%;
  margin-bottom: 2%;
}
.AdminContainer__label {
  font-size: 12px;
}
.AdminContainer__input {
  background-color: #5E001900;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-color: #5E001920;
  outline: none;
  font-size: 20px;
  color: #292929;
  font-weight: 200;
}
.AdminContainer__revision {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.AdminContainer__nombreC {
  border-color: #ECC9C7;
  border-style: solid;
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 7%;
  padding: 3%;
  width: 38.5%;
}
.AdminContainer__apellidoC {
  border-color: #ECC9C7;
  border-style: solid;
  margin-top: 2%;
  padding: 3%;
  width: 38.5%;
}
.AdminContainer__direccionC {
  border-color: #ECC9C7;
  border-style: solid;
  margin-top: 3%;
  padding: 3%;
  width: 38.5%;
}
.AdminContainer__ciudadC {
  border-color: #ECC9C7;
  border-style: solid;
  margin-top: 3%;
  margin-right: 2%;
  margin-left: 7%;
  padding: 3%;
  width: 38.5%;
}
.AdminContainer__tipoTarjetaC {
  border-color: #ECC9C7;
  border-style: solid;
  margin-right: 2%;
  margin-left: 7%;
  padding: 3%;
  width: 38.5%;
  margin-top: 3%;
}
.AdminContainer__numTarjetaC {
  border-color: #ECC9C7;
  border-style: solid;
  margin-top: 3%;
  padding: 3%;
  width: 38.5%;
}
.AdminContainer__revisionBtn {
  background-color: #5E0019;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  color: #FAF5F5;
  border-radius: 10px;
  width: 30%;
  margin-left: 2.5%;
  height: 65px;
  margin-bottom: 10%;
}

.pedido {
  margin-top: 2%;
  width: 56%;
  margin-right: 3%;
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  margin-bottom: 3%;
}
.pedido__containtergnral {
  background-color: #ECC9C7;
  border-radius: 20px;
  padding: 4%;
}
.pedido__title {
  font-size: 24px;
  font-weight: 500;
}
.pedido__separaddor {
  background-color: #A1002A60;
  height: 4px;
  width: 100%;
  margin-bottom: 2%;
}
.pedido table {
  font-size: 15px;
}
.pedido__TOTAL {
  font-size: 24px;
}
.pedido td {
  width: 400px;
  height: 30px;
}
.pedido__comprarBtn {
  background-color: #5E0019;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  color: #FAF5F5;
  border-radius: 10px;
  width: 95%;
  margin-left: 2.5%;
  margin-top: 3%;
  height: 65px;
  margin-bottom: 10%;
}
.pedido__resTitle {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 2%;
}
.pedido__separador {
  background-color: #A1002A60;
  height: 4px;
  width: 100%;
  margin-bottom: 7%;
}
.pedido__descripcion {
  display: flex;
  flex-direction: row;
}
.pedido__imgLib {
  margin-right: 8%;
}
.pedido__libroTitle {
  font-family: "Martel";
  font-size: 20px;
  font-weight: 800;
}
.pedido__datos {
  font-family: "Montserrat";
  font-size: 14px;
}
.pedido__totalPrice {
  font-family: "Montserrat";
  font-size: 21px;
  font-weight: 700;
  margin-top: 10%;
}
.pedido__enviadoCheckbox {
  font-family: "Montserrat";
  font-size: 16px;
  color: #5E0019;
  font-weight: 800;
  margin-top: 10%;
}

.separadorG {
  background-color: #A1002A60;
  height: 4px;
  width: 100%;
  margin-bottom: 7%;
  margin-top: 7%;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.basicProd {
  display: flex;
  flex-direction: column;
  width: 25%;
  font-family: "Montserrat";
  font-size: 14px;
  margin-bottom: 5%;
}
.basicProd__info {
  margin-top: 4%;
}
.basicProd__title {
  font-family: "Martel";
  font-size: 20px;
  font-weight: 900;
  line-height: 1.2em;
  width: 196.36px;
  height: 48px;
}
.basicProd__autor {
  margin-top: 5px;
  color: #292929;
}
.basicProd__precio {
  color: #292929;
}
.basicProd__category {
  color: #292929;
}
.basicProd__idioma {
  color: #292929;
}
.basicProd__buttons {
  display: flex;
  margin-top: 5px;
  flex-direction: row;
}
.basicProd__add {
  font-family: "Montserrat";
  background-color: #5E0019;
  border-color: #5E0019;
  color: #FAF5F5;
  height: 30px;
  border-radius: 5px;
  margin-right: 2px;
  visibility: visible;
}
.basicProd__ver {
  font-family: "Montserrat";
  background-color: #5E0019;
  border-color: #5E0019;
  color: #FAF5F5;
  height: 30px;
  border-radius: 5px;
}
.basicProd__borrar {
  font-family: "Montserrat";
  background-color: #5E0019;
  border-color: #5E0019;
  color: #FAF5F5;
  height: 30px;
  border-radius: 5px;
  width: 88%;
  margin-top: 1%;
  padding-left: 30%;
  padding-top: 2%;
}
@media (max-width: 700px) {
  .basicProd {
    width: 47%;
    font-size: 12px;
    margin-left: 2%;
  }
  .basicProd__img {
    width: 200px;
  }
  .basicProd__title {
    font-size: 15px;
  }
  .basicProd__add {
    font-size: 10px;
  }
  .basicProd__ver {
    font-size: 10px;
    margin-left: 10%;
  }
  .basicProd__buttons {
    display: initial;
  }
}

.showAdmin {
  display: none;
}

.productForm {
  margin-top: 220px;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 35%;
}

.input {
  font-family: "Montserrat";
  height: 20px;
  border-color: #ECC9C7;
  border-style: solid;
  width: 51%;
  margin-top: 1%;
}

.lab {
  font-family: "Martel";
  font-weight: 800;
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.select {
  font-family: "Montserrat";
  width: 53%;
  border-color: #ECC9C7;
}

.sendButton {
  margin-top: 5%;
  background-color: #5E0019;
  font-family: "Martel";
  font-size: 15px;
  color: #FAF5F5;
  border-radius: 10px;
  width: 40%;
  margin-left: 35%;
}

textarea {
  width: 80%;
  margin-bottom: 5%;
  margin-left: 4%;
}

.filtros {
  display: flex;
  flex-direction: column;
  background-color: #5E0019;
  color: #FAF5F5;
  width: 25%;
}
.filtros__barrita {
  padding-left: 8%;
  margin-bottom: 10px;
  margin-top: 20px;
}
.filtros__logoFiltro {
  margin-top: 50px;
  padding: 8%;
  margin-bottom: 50px;
}
.filtros__principalT {
  font-family: "Martel";
  font-size: 25px;
  font-weight: 600;
  margin-left: 40px;
}
.filtros__checks {
  font-family: "Montserrat";
  font-size: 13.5px;
  font-weight: 200;
  margin-top: 2px;
  margin-left: 40px;
}
@media (max-width: 700px) {
  .filtros {
    display: none;
  }
}

.gnralCont {
  display: flex;
  margin-top: 30%;
  margin-bottom: 20%;
  justify-content: center;
}
.gnralCont__sectionC {
  display: flex;
}
.gnralCont__404Text {
  font-family: "Martel";
  color: #5E0019;
  font-weight: 800;
  font-size: 90px;
  margin-left: 40%;
}
.gnralCont__message {
  font-family: "Montserrat";
  color: #5E0019;
  font-size: 30px;
}/*# sourceMappingURL=main.css.map */